# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
venv/
env/
.venv/
.env/

# Python environment files
*.env
*.venv

# PyInstaller
*.manifest
*.spec

# mypy
.mypy_cache/
.dmypy.json

# Pyre type checker
.pyre/

# pytype
.pytype/

# Coverage
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# pytest
.pytest_cache/

# IDEs / Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and databases
*.log
*.sqlite3
*.db

# Docker
*.pid
*.sock
*.bak
docker-compose.override.yml

# Other
*.DS_Store
